body {
    font-family: sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-label {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
  }
  
  textarea {
    height: 150px;
  }
  
  button {
    margin-top: 20px;
  }
  